<section id="inversiones" class="py-5">
	<app-main-loader *ngIf="precarga"></app-main-loader>
	<div class="container" *ngIf="!precarga && listaProductos[0]">
			<h2 class="mb-5 text-capitalize">{{listaProductos[0].nombre}}</h2>
			<div class="row">
					<div class="col-md-6">
							<img src="{{ listaProductos[0].imagengrande == null 
									? 'assets/images/no-image.svg' 
									: 'https://servicios.campus.pe/' + listaProductos[0].imagengrande }}" 
									class="img-fluid" alt="...">
					</div>
					<div class="col-md-6">
							<table class="table">
									<div class="tbody">
											<tr>
													<th>Detalle</th><td>{{listaProductos[0].detalle}}</td>
											</tr>
											<tr>
													<th>Categoría</th><td>{{listaProductos[0].categoria}}</td>
											</tr>
											<tr>
													<th>Precio</th><td>S/ {{(listaProductos[0].preciorebajado == 0 ? listaProductos[0].precio : listaProductos[0].preciorebajado) | number: '.2'}}
															<span class="precio-rebajado" [class.precio-rebajado-ocultar]="listaProductos[0].preciorebajado == 0">S/
																	{{listaProductos[0].precio | number: '.2'}}</span></td>
											</tr>
											<tr>
													<th>Proveedor</th><td>{{listaProductos[0].proveedor}}</td>
											</tr>
											<tr>
													<th>País</th><td>{{listaProductos[0].pais}}</td>
											</tr>
									</div>
							</table>
					</div>
			</div>
	</div>
</section>