<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item position-relative">
					<a class="nav-link" [routerLink]="['/']">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" [routerLink]="['/inversiones']">Inversiones</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" [routerLink]="['/proveedores']">Proveedores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" [routerLink]="['/directores']">Directores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" [routerLink]="['/empleados']">Empleados</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" [routerLink]="['/tienda']">Tienda</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" [routerLink]="['/pedidos']">Pedidos</a>
				</li>
			</ul>
		</div>
		<div class="ml-auto">
			<button type="button" [routerLink]="['/ganadores']" class="btn btn-sm btn-light">
				<i class="bi bi-people"></i> Ganadores
			</button>
			<button type="button" [routerLink]="['/carrito']" class="btn btn-sm btn-light">
				<i class="bi bi-bag"></i> Compras
			</button>
		</div>
	</div>
</nav>
