<header id="main-header">
    <div class="container px-3 py-5">
        <h1>Ideas Digitales</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, autem.</p>
    </div>
</header>
