<section class="py-5">
    <div class="container">
        <h2 class="mb-5 text-capitalize">Tienda</h2>
				<app-main-loader *ngIf="precarga"></app-main-loader>
        <div class="row" *ngIf="!precarga && listaCategorias.length">
            <div class="col-md-3">
							<ul class="list-group">
								<li class="list-group-item" *ngFor="let item of listaCategorias"
										[class.active] = "item === categoriaSeleccionada"
										(click) = "seleccionarCategoria(item)"
										title="{{item.descripcion}}">
										{{item.nombre}} <span class="badge text-bg-secondary position-absolute end-10">{{item.total}}</span>
								</li>
							</ul>
            </div>
						
						<div class="col-md-9 text-center py-5 py-sm-0" *ngIf="listaCategorias.length && !categoriaSeleccionada">
							Por favor, seleccione una categoría.
						</div>

            <div class="col-md-9" *ngIf="categoriaSeleccionada" >
							<h3>{{categoriaSeleccionada.nombre}}</h3>
							<p>{{categoriaSeleccionada.descripcion}}</p>
							<app-productos 
								*ngIf="categoriaSeleccionada" 
								[categoriaX] = "categoriaSeleccionada">
							</app-productos>
            </div>
        </div>
    </div>
</section>