.btn-circle {
	width: 42px;
	height: 42px;
}
.btn-details {
	position: absolute;
	right: 1rem;
  bottom: 1rem;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all .3s ease;
}

.product-image:hover .btn-details {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.product-badge {
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: var(--electric-violet-700);
}