<app-main-loader *ngIf="precarga"></app-main-loader>
<div *ngIf="!precarga && listaProductos.length" class="row row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 g-4">
	<div class="col" *ngFor="let item of listaProductos; let i = index">
		<div class="animate pop card h-100" [ngStyle]="{'animation-delay': '0.' + i + 's' }">
			<div class="product-image position-relative">
				<a [routerLink]="['/productodetalle/' + item.idproducto]">
					<img 
					src="{{ item.imagenchica == '' 
							                        ? 'assets/images/no-image.svg' 
							                        : 'https://servicios.campus.pe/' + item.imagenchica }}" class="card-img-top" alt="...">
				</a>
				<button type="button" data-bs-toggle="modal" data-bs-target="#vistaRapidaModal"
					(click)="mostrarDatosVistaRapida(item.idproducto!)"
					class="btn btn-details btn-circle btn-sm rounded-circle btn-dark">
					<i class="bi bi-search fs-6"></i>
				</button>
				<span class="badge product-badge rounded-pill" [class.precio-rebajado-ocultar]="item.preciorebajado == 0">
					{{((item.precio! - item.preciorebajado!)/item.precio! * 100).toFixed(2) }}%
				</span>
			</div>
			<div class="card-body d-flex flex-column">
				<h5 class="card-title">{{item.nombre}}</h5>
				<p class="card-text  mt-auto">
					<span class="color-one fs-5">
						S/ {{(item.preciorebajado == 0 ? item.precio : item.preciorebajado) | number: '.2'}}
					</span>
					<span class="precio-rebajado fs-6" [class.precio-rebajado-ocultar]="item.preciorebajado == 0">S/
						{{item.precio | number: '.2'}}</span>
				</p>
				<button type="button" class="btn btn-sm btn-light" (click)="agregarCarrito(item)">
					<i class="bi bi-cart4 me-2"></i> Añadir
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Vista Rápida -->
<div class="modal fade" id="vistaRapidaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" *ngIf="listaProductoDetalles[0]">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">{{listaProductoDetalles[0].nombre}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<img src="{{ listaProductoDetalles[0].imagengrande == '' 
                            ? 'assets/images/no-image.svg' 
                            : 'https://servicios.campus.pe/' + listaProductoDetalles[0].imagengrande }}"
							class="card-img-top" alt="...">
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>