<section class="py-5">
    <div class="container">
        <h2 class="mb-5 text-capitalize">Proveedores</h2>
        <div class="mb-4">
            <label class="form-label">Buscar</label>
            <input type="text" class="form-control" placeholder="Escriba expresión a buscar">
        </div>
        <app-main-loader *ngIf="precarga"></app-main-loader>
        <div class="table-responsive">
          <table class="table">
            <thead *ngIf="!precarga && listaProveedores.length">
              <tr>
                <th>Código</th>
                <th>Empresa</th>
                <th>Contacto</th>
                <th>Cargo</th>
                <th>País</th>
                <th>Ciudad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaProveedores | paginate: { itemsPerPage: 10, currentPage: numeroPagina }">
                <td>{{item.idproveedor}}</td>
                <td>{{item.nombreempresa}}</td>
                <td>{{item.nombrecontacto}}</td>
                <td>{{item.cargocontacto}}</td>
                <td>{{item.pais}}</td>
                <td>{{item.ciudad}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls
          *ngIf="!precarga && listaProveedores.length"
          (pageChange)="numeroPagina = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente">
        </pagination-controls>
    </div>
</section>
