<div class="d-flex align-items-center justify-content-center flex-column p-2">
  <div class="lds-roller mb-3">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
	<span class="text-center fw-bold">Estamos cargando la información...</span>
</div>
