<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
          <h2 class="text-capitalize">Directores</h2>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertModal">
            Nuevo director
          </button>
        </div>
        <app-main-loader *ngIf="precarga"></app-main-loader>
        <div class="table-responsive">
          <table class="table">
            <thead *ngIf="!precarga && listaDirectores.length">
              <tr>
                <th>Código</th>
                <th>Director</th>
                <th>Películas</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaDirectores">
                <td>{{item.iddirector}}</td>
                <td>{{item.nombres}}</td>
                <td>{{item.peliculas}}</td>
                <td class="text-end btns">
									<button type="button" class="btn btn-icon btn-light btn-sm rounded-circle me-2"
										data-bs-toggle="modal" data-bs-target="#updateModal" (click)="editDirector(item, false )">
										<i class="bi bi-eye"></i>
									</button>
									<button type="button" class="btn btn-icon btn-light btn-sm rounded-circle me-2" 
										data-bs-toggle="modal" data-bs-target="#updateModal" (click)="editDirector(item, true )">
										<i class="bi bi-pencil"></i>
									</button>
									<button type="button" class="btn btn-icon btn-light btn-sm rounded-circle me-2 me-md-0"
										data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="deletDirector(item)">
										<i class="bi bi-x-lg"></i>
									</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</section>



<!-- insertModal -->
<div class="modal fade" #modal id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo director</h1>
                <button id="cerrarModalInsert" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form ngNativeValidate [formGroup]="directoresInsertForm" (ngSubmit)="directoresInsert(directoresInsertForm.value, modal)">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nombres del director"
                            required minlength="3"
                            formControlName="nombres">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Películas dirigidas"
                            required minlength="3"
                            formControlName="peliculas">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- updateModal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
									{{ editarDirector ? 'Actualizar director' : 'Detalles del director' }}
								</h1>
                <button id="cerrarModalUpdate" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form ngNativeValidate [formGroup]="directoresUpdateForm" (ngSubmit)="directoresUpdate(directoresUpdateForm.value)">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control"
                            readonly
                            formControlName="iddirector">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nombres del director"
                            required minlength="3"
														[readonly]="!editarDirector"
                            formControlName="nombres">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Películas dirigidas"
                            required minlength="3"
														[readonly]="!editarDirector"
                            formControlName="peliculas">
                    </div>
                </div>
                <div class="modal-footer" *ngIf="editarDirector">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- deleteModal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" *ngIf="directorSeleccionado">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">
					Eliminar director
				</h1>
				<button id="cerrarModalDelete" type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>¿Eliminar el director <span class="fw-bold">{{ directorSeleccionado.nombres }}</span> ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-danger" (click)="directoresDelete(directorSeleccionado.iddirector)">Eliminar</button>
			</div>
		</div>
	</div>
</div>

