input:read-only {
  background-color: #f4f4f4;
}

@media ( min-width: 768px ) {
	.btns button {
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition: opacity .3s ease;
	}
	.btns button:nth-child(1) {
		transition-delay: 0.05s;
	}
	.btns button:nth-child(2) {
		transition-delay: 0.1s;
	}
	.btns button:nth-child(3) {
		transition-delay: 0.15s;
	}

	tbody tr:hover .btns button {
		opacity: 1;
		pointer-events: all;
		visibility: visible;
	}
}