<section class="py-5">
	<div class="container">
		<h2 class="mb-5 text-capitalize">Detalle pedido: {{ idPedido }}</h2>
		<app-main-loader *ngIf="precarga"></app-main-loader>
		<div *ngIf="!precarga && listaPedidos.length" class="row row-cols-xxl-3 row-cols-lg-2 row-cols-md-2 row-cols-1 g-4">
			<div class="col" *ngFor="let item of listaPedidos; let i = index">
				<div class="card h-100 mb-3 animate pop" [ngStyle]="{'animation-delay': '0.' + i + 's' }"
					style="max-width: 540px;">
					<div class="row g-0">
						<div class="col-md-4 d-flex align-items-center">
							<img src="{{ item.imagenchica == '' 
													                      ? 'assets/images/no-image.svg' 
													                      : 'https://servicios.campus.pe/' + item.imagenchica }}"
								class="img-fluid rounded-start" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h4 class="card-title">{{ item.nombre }}</h4>
								<table class="table">
									<div class="tbody">
										<tr>
											<th>Precio</th>
											<td>
												<span class="color-one fs-5"> S/ {{ item.precio }} </span>
											</td>
										</tr>
										<tr>
											<th>Cantidad</th>
											<td> {{ item.cantidad }} </td>
										</tr>
										<tr>
											<th>Detalle</th>
											<td> {{ item.detalle }} </td>
										</tr>
									</div>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>