<section class="py-5">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center mb-5">
			<h2 class="text-capitalize">Ganadores</h2>
			<button class="btn btn-danger" (click)="vaciarGanadores()">
				Vaciar ganadores
			</button>
		</div>
		<div class="text-center" *ngIf="!listaItemsGanadores.length">
			<i class="bi bi-emoji-frown fs-1"></i>
			<h3 class="mb-0 mt-5">No tienes ganadores</h3>
			<span class="text-muted">Puedes seleccionar ganadores en la página de 
				<a [routerLink]="['/empleados']" class="color-one text-decoration-none">
					empleados <i class="bi bi-box-arrow-up-right ms-1"></i>
				</a>
			</span>
		</div>
		<div class="table-responsive" *ngIf="listaItemsGanadores.length">
			<table class="table">
				<thead>
					<tr>
						<th width="100px">Foto</th>
						<th>Nombres y Apellidos</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of listaItemsGanadores">
						<td width="100px">
							<div class="avatar">
								<img src="{{ 'https://servicios.campus.pe/fotos/' + item.foto }}"  alt="...">
							</div>
						</td>
						<td style="vertical-align: middle"> {{ item.nombres }} {{ item.apellidos }} </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>