<section class="py-5">
	<div class="container">
		<h2 class="mb-5 text-capitalize">Empleados</h2>
		<app-main-loader *ngIf="precarga"></app-main-loader>
		<div class="alert alert-warning alert-dismissible fade show mb-5" *ngIf="empleadoEncontrado" role="alert">
			<strong>El empleado ya fue añadido</strong>
			<button type="button" (click)="cerrarAlerta()" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
		<div *ngIf="!precarga && listaEmpleados.length"
			class="row row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 g-4">
			<div class="col" *ngFor="let item of listaEmpleados; let i = index">
				<div class="animate pop card" [ngStyle]="{'animation-delay': '0.' + i + 's' }">
					<img src="https://servicios.campus.pe/fotos/{{item.foto}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{item.nombres}} {{item.apellidos}}</h5>
						<p class="card-text">{{item.cargo}}</p>
						<button type="button" (click)="agregarGanador(item)" class="btn btn-sm btn-light w-100">
							<i class="bi bi-person-plus me-2"></i> Añadir
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>