<section class="py-5">
    <div class="container">
				<div class="d-flex justify-content-between align-items-center mb-5">
					<h2 class="text-capitalize">Carrito de compras</h2>
					<button class="btn btn-danger" (click)="vaciarCarrito()">
						Vaciar carrito
					</button>
				</div>
				<div class="text-center" *ngIf="!listaItemsCarrito.length">
					<i class="bi bi-emoji-frown fs-1"></i>
					<h3 class="mb-0 mt-5">Tu carro está vacío</h3>
					<span class="text-muted">Puedes añadir productos en la
						<a [routerLink]="['/tienda']" class="color-one text-decoration-none">
							tienda <i class="bi bi-box-arrow-up-right ms-1"></i>
						</a>
					</span>
				</div>
				<div class="table-responsive" *ngIf="listaItemsCarrito.length">
					<table class="table">
						<thead>
							<tr>
								<th>Código</th>
								<th>Nombre</th>
								<th class="text-end">Precio</th>
								<th class="text-end">Cantidad</th>
								<th class="text-end">Subtotal</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of listaItemsCarrito">
								<td>{{item.idproducto}}</td>
								<td>{{item.nombre}}</td>
								<td class="text-end">S/ {{item.precio}}</td>
								<td class="text-end">{{item.cantidad}}</td>
								<td class="text-end">S/ {{item.precio! * item.cantidad! | number: '.2'}}</td>
								<td class="text-end btns">
									<button type="button" (click)="eliminarItem(item)" class="btn btn-icon btn-light btn-sm rounded-circle me-2 me-md-0">
										<i class="bi bi-x-lg"></i>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th class="text-end" colspan="4"></th>
								<th class="text-end">S/ {{ total | number: '.2'}}</th>
								<th class="text-end"></th>
							</tr>
						</tfoot>
					</table>
				</div>
    </div>
</section>