<section class="py-5">
	<div class="container">
		<h2 class="mb-5 text-capitalize">Pedidos</h2>
		<div class="mb-4">
			<label class="form-label">Buscar</label>
			<input type="text" class="form-control" placeholder="Escriba expresión a buscar">
		</div>
		<app-main-loader *ngIf="precarga"></app-main-loader>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead *ngIf="!precarga && listaPedidos.length">
					<tr>
						<!-- <th>Pedido</th> -->
						<th>Fecha pedido</th>
						<th>Usuario</th>
						<th>Nombres</th>
						<th class="text-end">total</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of listaPedidos | paginate: { itemsPerPage: 10, currentPage: numeroPagina }"
						[routerLink]="['/pedidodetalle/' + item.idpedido]">
						<!-- <td>{{item.idpedido}}</td> -->
						<td>{{item.fechapedido}}</td>
						<td>{{item.usuario}}</td>
						<td>{{item.nombres}}</td>
						<td class="text-end">{{item.total}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<pagination-controls *ngIf="!precarga && listaPedidos.length" (pageChange)="numeroPagina = $event"
			previousLabel="Anterior" nextLabel="Siguiente">
		</pagination-controls>
	</div>
</section>