/* You can add global styles to this file, and also import other style files */
:root {
  --color1: #5E05F0;
  --color2: #FA1505;
  --color3: #E3A410;
  --color4: #65FA05;
  --color5: #00EBF0;
  --color-blanco: #FFFFFF;
  --color-negro: #000000;
  --color-gris-claro: #CCCCCC;
  --color-gris-oscuro: #333333;

  --electric-violet-50: #f4f1ff;
  --electric-violet-100: #ebe5ff;
  --electric-violet-200: #d7cfff;
  --electric-violet-300: #bba8ff;
  --electric-violet-400: #9b76ff;
  --electric-violet-500: #7e3fff;
  --electric-violet-600: #7019ff;
  --electric-violet-700: #5e05f0;
  --electric-violet-800: #5305d2;
  --electric-violet-900: #4507ab;
  --electric-violet-950: #280075;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
    text-transform: lowercase;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.color-one {
	color: var(--electric-violet-700) !important;
}

.cursor-pointer {
	cursor: pointer;
}

.padded {
    padding: 90px 0;
}

.end-10 {
    right: 10px !important;
}

.list-group-item.active {
	color: var(--electric-violet-700);
	background-color: var(--electric-violet-300);
	border-color: var(--electric-violet-300);
}

.uni .navbar-nav .nav-link.active {
  color: var(--electric-violet-700);
}

.text-bg-secondary {
    background-color: var(--color1) !important;
}

.precio-rebajado {
    color: var(--color-gris-claro);
    text-decoration: line-through;
}

.precio-rebajado-ocultar {
    display: none;
}

.btn-icon {
	min-width: 32px;
	width: 32px;
	height: 32px;
}

@media (min-width: 1600px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1520px;
    }
}

.precarga-ocultar{
    display: none!important;
}

/* Paginación */

.uni .ngx-pagination {
  text-align: right;
  padding: 2rem 0;
  margin: 0;
}

.uni .ngx-pagination .current {
  border-radius: .25rem;
  background: var(--electric-violet-700);
}

/* Animación */

.animate {
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: ease;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }

  to {
    opacity: 1;
    transform: translateZ(0)
  }
}
